@import '../../Partials/palette';

.book {
    border: solid #d3d0cb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 300px;
    height: 400px;

    margin: 20px;
    padding: 20px;
    border-radius: 20px;

    font-weight: 100;

    &__img {
        width: 40%;
        // object-fit: cover;
    }

    &__box {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: $quinary-color;
        border-radius: 5px;

        &__title {
            font-size: 17px;
            padding: 4px;
            color: $primary-color;
        }

        &__author {
            padding: 4px;
            font-size: 15px;
            color: $primary-color;
        }

        &__desc {
            margin: 5px;
            font-size: 12px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }
    }

    &:hover {
        cursor: pointer;
        background-color: $senary-color;
        transform: scale(1.05);
        transition: 0.5s;
    }
}
