@import '../../Partials/palette';

.footer {
    font-size: small;
    text-align: center;
    background-color: $quinary-color;
    color: $primary-color;
    padding-bottom: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
